<%= render 'form', message: @message %>

<br>

<div class="mt-8 nine-grid">
  <%= link_to 'Cancel', @message, class: 'button col-start-1 mr-5' %>
  <%= link_to 'Messages', messages_path, class: 'button col-start-2 mr-5' %>
</div>
