<h1 class="font-bold">New message</h1>

<%= render 'form', message: @message %>

<br>

<div class="mt-8 grid md:grid-cols-9 sm:grid-cols-4 text-center">
  <%= link_to 'Back', messages_path, class: 'button rounded bg-blue-300 p-2.5 col-start-1 col-span-1 mr-5' %>
</div>
