---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages.json
    body:
      encoding: UTF-8
      string: Body=test%3A+2023-12-22T18%3A25%3A22-06%3A00&From=%2B15005550006&To=%2B16515551212
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic aaaa
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ9aaaa
      Twilio-Request-Duration:
      - '0.047'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "test: 2023-12-22T18:25:22-06:00", "num_segments": "1", "direction":
        "outbound-api", "from": "+15005550006", "date_updated": "Sat, 23 Dec 2023
        00:25:22 +0000", "price": null, "error_message": null, "uri": "/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages/SM9aa0a32fdda5e9b0007a4f6504d706d8.json",
        "account_sid": "AC2a4b18f32baa56dcef13ae52ecb588ae", "num_media": "0", "to":
        "+16515551212", "date_created": "Sat, 23 Dec 2023 00:25:22 +0000", "status":
        "queued", "sid": "SM9aa0a32fdda5e9b0007a4f6504d706d8", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages/SM9aa0a32fdda5e9b0007a4f6504d706d8/Media.json"}}'
  recorded_at: Sat, 23 Dec 2023 00:25:22 GMT
recorded_with: VCR 6.2.0
