---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/invalid/Messages.json
    body:
      encoding: UTF-8
      string: Body=Upcoming+construction%3A+Sawayn+Plaza&From=%2B15005550006&To=%2B16469748836
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic aaaa
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQaaaa
      Twilio-Request-Duration:
      - '0.004'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /2010-04-01/Accounts/invalid/Messages.json
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Sun, 24 Dec 2023 10:48:34 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/invalid/Messages.json
    body:
      encoding: UTF-8
      string: Body=Upcoming+construction%3A+Sawayn+Plaza&From=%2B15005550006&To=%2B19497983328
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic aaaa
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQaaaa
      Twilio-Request-Duration:
      - '0.003'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /2010-04-01/Accounts/invalid/Messages.json
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Sun, 24 Dec 2023 10:48:35 GMT
recorded_with: VCR 6.2.0
