---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages.json
    body:
      encoding: UTF-8
      string: Body=Upcoming+construction%3A+Yahaira+Street&From=%2B15005550006&To=%2B17781173729
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic aaaa
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="Twilio API"
      Twilio-Request-Id:
      - RQaaaa
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Sun, 24 Dec 2023 11:07:42 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages.json
    body:
      encoding: UTF-8
      string: Body=Upcoming+construction%3A+Yahaira+Street&From=%2B15005550006&To=%2B19694377281
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic aaaa
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="Twilio API"
      Twilio-Request-Id:
      - RQaaaa
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Sun, 24 Dec 2023 11:07:42 GMT
recorded_with: VCR 6.2.0
