---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages.json
    body:
      encoding: UTF-8
      string: Body=test%3A+2023-12-22T21%3A26%3A23-06%3A00&From=%2B15005550006&To=%2B15005550004
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyYTRiMThmMzJiYWE1NmRjZWYxM2FlNTJlY2I1ODhhZToyMGVjMjU2MDFhMDIzYTA2OGQ1NWNlZjhmMWE2YjFjNw==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ9f7d12cec56471cdcaf099a27694df02
      Twilio-Request-Duration:
      - '0.059'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21610, "message": "Attempt to send to unsubscribed recipient",
        "more_info": "https://www.twilio.com/docs/errors/21610", "status": 400}'
  recorded_at: Sat, 23 Dec 2023 03:26:23 GMT
recorded_with: VCR 6.2.0
