---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages.json
    body:
      encoding: UTF-8
      string: Body=Upcoming+construction%3A+Murphy+Haven&From=%2B15005550006&To=%2B15005550001
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic aaaa
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQaaaa
      Twilio-Request-Duration:
      - '0.042'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "Invalid ''To'' Phone Number: +1500555XXXX",
        "more_info": "https://www.twilio.com/docs/errors/21211", "status": 400}'
  recorded_at: Sat, 23 Dec 2023 18:12:53 GMT
recorded_with: VCR 6.2.0
