---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages.json
    body:
      encoding: UTF-8
      string: Body=Upcoming+construction%3A+Dannie+Streets&From=%2B15005550006&To=%2B15534805446
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic aaaa
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQaaaa
      Twilio-Request-Duration:
      - '0.044'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "Upcoming construction: Dannie Streets", "num_segments": "1",
        "direction": "outbound-api", "from": "+15005550006", "date_updated": "Sat,
        23 Dec 2023 18:03:07 +0000", "price": null, "error_message": null, "uri":
        "/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages/SM68cbb363dd293fe717ae378b4441abe0.json",
        "account_sid": "AC2a4b18f32baa56dcef13ae52ecb588ae", "num_media": "0", "to":
        "+15534805446", "date_created": "Sat, 23 Dec 2023 18:03:07 +0000", "status":
        "queued", "sid": "SM68cbb363dd293fe717ae378b4441abe0", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/AC2a4b18f32baa56dcef13ae52ecb588ae/Messages/SM68cbb363dd293fe717ae378b4441abe0/Media.json"}}'
  recorded_at: Sat, 23 Dec 2023 18:03:07 GMT
[...]
