<div id="<%= dom_id recipient %>">
  <div class="py-4">
    <div class="font-bold">Phone</div>
    <div><%= recipient.phone %></div>
  </div>

  <div class="py-4">
    <div class="font-bold">Status</div>
    <%= recipient.status.capitalize %>
  </div>

  <div class="py-4">
    <div class="font-bold">Message Count</div>
    <%= recipient.messages.count %>
  </div>
</div>
