<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing recipient</h1>

  <%= render "form", recipient: @recipient %>

  <%= link_to "Show this recipient", @recipient, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to recipients", recipients_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
