<h1 class="font-bold">New Recipient</h1>

<%= render 'form', recipient: @recipient %>

<br>

<div class="mt-8 nine-grid">
  <%= link_to 'Back', recipients_path, class: 'blue-button col-start-1 mr-5' %>
</div>
