<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-bold">Message Recipients</h1>

<div id="message-recipients-list" class="container grid grid-cols-1 my-6 border border-slate-300 rounded">
  <%= render partial: 'message_recipients_list', locals: { message_recipients: @message_recipients } %>
</div>
