<div id="<%= dom_id recipient_list %>">
  <div class="py-4">
    <div class="font-bold">Name</div>
    <div><%= recipient_list.name %></div>
  </div>
  <div class="py-4">
    <div class="font-bold">Recipients</div>
    <div><%= recipient_list.recipients.count %></div>
  </div>
</div>
