<%= render 'form', recipient_list: @recipient_list %>

<br>

<div class="mt-8 nine-grid">
  <%= link_to 'Cancel', @recipient_list, class: 'blue-button col-start-1 mr-5' %>
  <%= link_to 'Lists', recipient_lists_path, class: 'blue-button col-start-2 mr-5' %>
</div>
