<h1 class="font-bold max-h-0 text-background-color">Recipient Lists</h1>
<%= render partial: 'application/notice', formats: :html %>

<div class="nine-grid" id="message-header-container">
  <%= link_to 'New List', new_recipient_list_path, class: 'blue-button col-start-1' %>
  <h1 class="font-bold mt-auto mb-auto col-start-9 text-right text-background-color">Recipient Lists</h1>
</div>

<div id="recipient_lists-list" class="container grid grid-cols-1 my-6 border border-slate-300 rounded">
  <%= render partial: 'recipient_lists_list', locals: { recipient_lists: @recipient_lists } %>
</div>
