<div class="container mx-auto mt-1" id="navbar">
  <% unless request.controller_class.to_s.start_with? 'Devise' %>
    <div id="auth-actions" class="text-sm text-slate-400 hover:text-slate-600 text-right">
      <%= button_to('Sign Out', destroy_user_session_path, method: :delete) if current_user  %>
      <%= 'Log In' unless current_user  %>
    </div>
    <div id="profile">
    </div>
  <% end %>
</div>
